body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.image-container {
    flex: 1;
    text-align: right;
    padding-right: 20px; /* Add padding to separate the image from the text */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding-left: 20px; /* Add padding to separate the text from the image */
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

p {
    margin: 0;
    font-size: 32px;
}

.gmail img {
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: transform 0.2s; /* Smooth transition effect */
}

.gmail img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

